{% extends "catalogue/base.html" %}

{% block content %}
    <div class="row py-3 my-3">
        <div class="col-lg-7">
            <div class="card-trip card-trip-large">
                <img src="{{ url_for('static', filename='img/andrey-zvyagintsev-_fvUcz1H6EY-unsplash.jpg') }}" />
                <div class="card-trip-infos">
                    <div>
                        <h2>Black futuristic woman</h2>
                        <p>Kampala, Ouganda</p>
                    </div>
                </div>
            </div>
            <p class="text-muted my-3">
                images sponsorisées par 3A
            </p>

            <!-- Others images -->
            <div class="row my-3">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="card-trip card-trip-small">
                        <img src="{{ url_for('static', filename='img/hans-eiskonen-JuMrIE10_5c-unsplash.jpg') }}" />
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="card-trip card-trip-small">
                        <img src="{{ url_for('static', filename='img/gideon-hezekiah-57-0lgqwQOY-unsplash.jpg') }}" />
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="card-trip card-trip-small">
                        <img src="{{ url_for('static', filename='img/nathaniel-tetteh-L1yrcSE_KWc-unsplash.jpg') }}" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( {{ url_for('static', filename='img/victor-nnakwe-AE2uBSYnCVM-unsplash.jpg') }} )">
                        <a href="" style="text-decoration:none; color:white;">Voir +</a>
                    </div>
                </div>
            </div>
            <hr class="my-3">
            <div class="row my-3">
                <!-- form for comments -->
                <div class="col-lg-12 my-2">
                    <form action="" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 d-none d-md-block d-lg-block">
                                    <img src="{{ url_for('static', filename='img/user.png') }}" alt="" class="avatar-bordered">
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                                    <textarea cols="30" rows="2" class="form-control" placeholder="Ajouter votre commentaire"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Others comments -->
                <div class="col-lg-12">
                    <div class="card-product mb-2">
                        <img src="{{ url_for('static', filename='img/user.png') }}" class="avatar-bordered ms-2" />
                        <div class="card-product-infos">
                        <h2>gorilla_lover <small class="text-muted" style="font-size: 13px; font-weight: light;">il y a 18 heures</small></h2>
                        <p>such a lovely futuristic woman</p>
                        </div>
                    </div>

                    <div class="card-product mb-2">
                        <img src="{{ url_for('static', filename='img/karim-manjra-fm9wqDNXyQ0-unsplash.jpg') }}" class="avatar-bordered ms-2" />
                        <div class="card-product-infos">
                        <h2>leemurryy01 <small class="text-muted" style="font-size: 13px; font-weight: light;">il y a 20 heures</small></h2>
                        <p>Great picture. J'aime bcp !!</p>
                        </div>
                    </div>

                    <div class="card-product mb-2">
                        <img src="{{ url_for('static', filename='img/matt-atherton-sUTZ280MFpc-unsplash.jpg') }}" class="avatar-bordered ms-2" />
                        <div class="card-product-infos">
                        <h2>pen_ash <small class="text-muted" style="font-size: 13px; font-weight: light;">il y a 18 heures</small></h2>
                        <p>Super photo pour une affiche pub !!!</p>
                        </div>
                    </div>

                    <a href="" class="btn btn-outline-secondary d-block">Voir +</a>
                </div>

            </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3">
                    <img src="{{ url_for('static', filename='img/profile/28.jpg') }}" class="avatar-bordered-lg ms-3" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-muted">ThanhTN / 33 images</h6>
                    <div class="row my-3">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-6">
                            <a href="" class="btn btn-flat mb-2">Café</a>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-6">
                            <a href="" class="btn btn-ghost mb-2">Suivre</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="tex-muted my-2">
            <div class="row">
                <div class="col-lg-4">
                    <a href="" class="btn btn-primary btn-sm my-1">
                        <span class="iconify" data-icon="ant-design:like-outlined"></span>
                        34
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="" class="btn btn-primary btn-sm my-1">
                        <span class="iconify" data-icon="ep:collection-tag"></span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="" class="btn btn-secondary btn-sm my-1">
                        <span class="iconify" data-icon="bi:share"></span>
                    </a>
                </div>
            </div>
            <hr class="tex-muted my-2">
        </div>
    </div>
{% endblock content %}